EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=

# Local EAS credential generation
EAS_ANDROID_KEYSTORE_PATH=credentials/android/keystore.jks
EAS_ANDROID_KEYSTORE_PASSWORD=
EAS_ANDROID_KEY_ALIAS=
EAS_ANDROID_KEY_PASSWORD=
